.secondBountyLink {
  text-decoration: none;
}

.secondBounty {
  border: 1px solid #D8DBDD;
  .secondBountyData {
    width: 400px;
    padding: 40px;

    .title {
      color: #808A7F;
      font-size: 36px;
      margin-bottom: 20px;
    }

    .meta {
      color: black;
      font-size: 18px;
      span {
        line-height: 30px;
        height: 30px;
        display: inline-flex;
        margin-right: 40px;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}


