.secondBounty {
  .secondBountyData {
    .meta {
      color: black;
      font-size: 25px;
      margin-bottom: 20px;
      span {
        line-height: 30px;
        height: 30px;
        display: inline-flex;
        margin-right: 40px;

        i {
          margin-right: 10px;
        }
      }
    }
  }
}


