/* PAGE */

* {
  box-sizing: border-box;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  // background: black;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  z-index: 1;

  .logo {
    flex: 1;
    a {
      padding-left: 90px;
      font-size: 28px;
      text-decoration: none;
      color: #ddd;
    }
  }

  ul {
    flex: 1;
    display: flex;

    li {
      flex: 1;
      padding: 15px 5px;
      text-align: center;
      a {
        text-decoration: none;
        color: #ddd;
        font-size: 14px;
      }
    }
  }

  .profile-button {
    flex: 1;

    a, p {
      float: right;
      padding: 15px 60px;
      margin: 0;
      color: #ddd;
      text-decoration: none;
    }

  }

  a:hover {
    color: white;
  }
}


.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.navbar .navbar-right {
  float: right;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.bounty-icon {
  background: url(./images/Bounty.svg) no-repeat center center;
}

.claim-icon {
  background: url(./images/Claim.svg) no-repeat center center;
}

.bounty-icon-black {
  background: url(./images/BountyBlack.svg) no-repeat center center;
}

.claim-icon-black {
  background: url(./images/ClaimBlack.svg) no-repeat center center;
}

footer {
  clear: both;
}

.fakeImg {
  width: 100%;
}
