/* PAGE */

* {
  box-sizing: border-box;
}

body,
.pure-g [class*=pure-u] {
  font-family: 'Open Sans', sans-serif;
}

h1, h2, h3 {
  font-family: 'Oswald', 'Arial Narrow', sans-serif;
}

code {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding: 45px 20px;

  min-height: calc(100vh - 60px);

  &.black {
    background: #171818;
  }
}

.pure-button-primary {
  background-color: #0c1a2b;
}

.pure-button-primary:hover {
  background-color: #233e5e;
}

.pure-form input[type="text"]:focus {
  border-color: #0c1a2b;
}

/* NAVBAR */

.navbar {
  position: fixed;
  padding: 5px;
  // background: black;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  width: 100%;
  height: 60px;
  z-index: 1;

  .logo {
    flex: 1;
    a {
      padding-left: 90px;
      font-size: 28px;
      text-decoration: none;
    }
  }

  ul {
    flex: 1;
    display: flex;

    li {
      flex: 1;
      padding: 15px 5px;
      text-align: center;
      a {
        text-decoration: none;
        font-size: 14px;
      }
    }
  }

  a {
    color: #171818;
    &:hover {
      color: #000;
    }
  }

  &.home, &.signup {
    a {
      color: #ddd;
      &:hover {
        color: white;
      }
    }

  }
}


.navbar .pure-menu-heading {
  font-weight: bold;
  text-transform: none;
}

.icon {
  display: inline-block;
  width: 30px;
  height: 30px;
}

.bounty-icon {
  background: url(./images/Bounty.svg) no-repeat center center;
}

.claim-icon {
  background: url(./images/Claim.svg) no-repeat center center;
}

.bounty-icon-black {
  background: url(./images/BountyBlack.svg) no-repeat center center;
}

.claim-icon-black {
  background: url(./images/ClaimBlack.svg) no-repeat center center;
}

footer {
  clear: both;
}

.fakeImg {
  width: 100%;
}

.signupContainer {
  color: white;
  height: calc(100vh - 60px);

  .signupFormContainer {
    width: 400px;
    margin: 100px auto 0;

    h1 {
      text-align: center;
    }

    input, button {
      width: 100%;
      color: black;
    }
  }
}

.ghostClaim {
  display: block;
  width: 300px;
  height: 100px;
  position: absolute;
  top: 450px;
  right: 250px;
}
